<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <trace enabled="true" localOnly="true" pageOutput="false" traceMode="SortByTime"/>
    <httpCookies httpOnlyCookies="true"/>
    <sessionState mode="InProc" cookieless="false" cookieName="userCookie" regenerateExpiredSessionId="true"/>
    <httpRuntime maxRequestLength="50000" executionTimeout="1800" requestValidationMode="4.0" requestPathInvalidCharacters="" relaxedUrlToFileSystemMapping="true" useFullyQualifiedRedirectUrl="true"/>
    <pages clientIDMode="Predictable" controlRenderingCompatibilityVersion="4.0" enableEventValidation="false" validateRequest="false">
      <controls>
        <add tagPrefix="uc" src="~/Controls/ucShoppingCart.ascx" tagName="ShoppingCart"/>
        <add tagPrefix="uc" src="~/Controls/ucShoppingCart2.ascx" tagName="ShoppingCart2"/>
        <add tagPrefix="uc" src="~/Controls/ucContactForm.ascx" tagName="ContactForm"/>
        <add tagPrefix="uc" src="~/Controls/ucAddressEvalForm.ascx" tagName="EvalAddress"/>
        <add tagPrefix="uc" src="~/Controls/ucAddress.ascx" tagName="Address"/>
        <add tagPrefix="uc" src="~/Controls/ucPartners.ascx" tagName="Partners"/>
        <add tagPrefix="uc" src="~/Controls/ucSearch.ascx" tagName="Search"/>
        <add tagPrefix="uc" src="~/Controls/ucSearchHome.ascx" tagName="SearchHome"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="adminCookie" loginUrl="login.aspx" enableCrossAppRedirects="true" slidingExpiration="true" protection="All"/>
    </authentication>
    <globalization culture="en-US" uiCulture="en-US"/>
  </system.web>
  <connectionStrings>
    <!--Production-->
    <add name="SQLConnectionProd" connectionString="Data Source=sql5035.site4now.net;Initial Catalog=DB_9F9577_ppgnew;User Id=DB_9F9577_ppgnew_admin;Password=PPGdb3929;" providerName="System.Data.SqlClient"/>
    <!--<add name="SQLConnectionProd" connectionString="Data Source=.;Initial Catalog=DB_9F9577_ppgnew;User Id=sa;Password=19590917;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SQLConnectionProd" connectionString="Data Source=.;Initial Catalog=DB_9F9577_ppgnew;User Id=libraryuser;Password=password;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SQLConnectionProd" connectionString="Data Source=.; Initial Catalog=DB_9F9577_ppgnew; User Id=yogesh;Password=yogesh;" providerName="System.Data.SqlClient"/>-->
    <!--Test-->
    <!--<add name="SQLConnectionTest" connectionString="Data Source=sql5036.smarterasp.net;Initial Catalog=DB_9F9577_test;User Id=DB_9F9577_test_admin;Password=PPGdb3929;" providerName="System.Data.SqlClient" />-->
    <!--Dev -->
    <!--<add name="SQLConnectionLocal" connectionString="Data Source=DEVELOPMENT-PC\MSSQLSERVER2016; Initial Catalog=ProductivityPoint; Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <clear/>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>-->
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/errorpages/404.aspx?he" responseMode="ExecuteURL"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/errorpages/500.aspx?he" responseMode="ExecuteURL"/>
    </httpErrors>-->
    <handlers>
      <add name="sitemap" path="sitemap.xml" type="ProductivityPointGlobal.Handlers.SitemapAsync" verb="GET" resourceType="Unspecified"/>
    </handlers>
    <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".otf"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <modules runAllManagedModulesForAllRequests="false"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <appSettings>
    <add key="DeveloperMode" value="false"/>
    <add key="EnableErrorLogEmail" value="true"/>
    <add key="MailFrom" value="aspears@productivitypointls.com"/>
    <add key="ErrorLogEmail" value="nextlevelcloudsolutions@gmail.com"/>
    <add key="ContactFormMailTo" value="advisor@productivitypointls.com"/>
    <add key="RegistrationMailTo" value="registrar@productivitypointls.com"/>
    <add key="OrderMailTo" value="aspears@productivitypointls.com"/>
    <add key="InfoMailTo" value="aspears@productivitypointls.com"/>
    <add key="EmailSendCredential" value="7294kGioella_"/>
    <add key="SendRegistrarEmailTo" value="registrar@productivitypointls.com"/>
    <!--<add key="SendRegistrarEmailTo" value="registrar@productivitypointls.com"/>-->
    <!-- sandbox-->
    <add key="Square.applicationId" value="sq0idp-tN3aYNQspOkHV-YHRhI9gg"/>
    <add key="Square.locationId" value="A8D2WCGVB7P8H"/>
    <add key="Square.AccessToken" value="EAAAEDys2xNzjLQrtwj3NTIl3BZoQwRxHq2DlFfPHkeOWE7JrJ4urLUpOMttIIMx"/>
    <!--<add key="Square.applicationId" value="sandbox-sq0idp-46hj7nkadYPY7RLVdHEtnw" />
    <add key="Square.locationId" value="CBASEMUdjOLl-k0wZfKfsNBjR7QgAQ" />
    <add key="Square.AccessToken" value="EAAAEDKxAUbRl9M_FLJsNPmdYnL0CVFxtHAeck_eP-PQh4cITfE83pJ1qswEuuXu" />-->
    <!-- production -->
    <!--<add key="Square.applicationId" value="sq0idp-46hj7nkadYPY7RLVdHEtnw"/>
    <add key="Square.locationId" value="A8D2WCGVB7P8H"/>
    <add key="Square.AccessToken" value="EAAAEHdrkLBDV_4I2L41J-6ZTw_nJHocGsJ2Pxo69fSjOykOeEfJstHBJ3VMa5VV"/>-->
  </appSettings>
  <system.net/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="aspears@productivitypointls.com">
        <!--<network defaultCredentials="false" enableSsl="true" host="mail.productivitypointls.com" port="465" userName="postmaster@productivitypointls.com" password="7294ppLS!@#" />-->
        <!--<network defaultCredentials="false" enableSsl="false" host="mail.productivitypointls.com" port="465" userName="postmaster@productivitypointls.com" password="7294ppLS!@#" />-->
        <!--<network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" userName="alex.kudryashev@gmail.com" password="Caramba-2"/>-->
        <!--<network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" userName="davissymes@gmail.com" password="8480ppPP!@#$" />-->
        <network defaultCredentials="false" enableSsl="false" host="smtpout.secureserver.net" port="587" userName="aspears@productivitypointls.com" password="8480ppPP!@#"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>