<?xml version="1.0"?>
<configuration>  
  <system.web>    
    <pages enableEventValidation="false" validateRequest="false"></pages>
    <httpRuntime requestValidationMode="2.0" />
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>    
  </system.web>
</configuration>